@import './fonts/fonts.css'; :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/
/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  place-items: center;*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/
/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/
body {
    background: url('assets/1.jpg');
}

body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    background: linear-gradient(0deg, #114578d4, #124d88e6, #207cd8a6,#1977d496,#1b73ca9e);
    z-index: -2;
    
}

#root {
    padding: 10%;
    font-family: 'Nunito Ebold';
}

h4 {
    color: #0df0a0;
    text-shadow: #333;
}

h5 {
    color: #fefefe
}

.col {
}

img {
    padding: 4px;
    border-radius: 100rem;
    background: #fefefe;
    border: 4px inset #0dcaf0;
    box-shadow: 0px 0px 14px #212529;
    position: relative;
    margin:15px;
    z-index:1;
    background:linear-gradient(#fefefe, #fefe, #333);
    
}

.nav a {
    color: #0df0a0;
    text-decoration: none;
}

.nav a div {
    padding: 5px 0;
}

.nav a i {
    font-size: 1.5rem;
    position:relative;
}

.nav a div i {
    font-size: 1.4rem;
    text-shadow:0 0 black;
    
}

.nav i:hover {
    text-shadow: 0 0 10px #fefefe;
}

.social .nav i:after, img:after {
    animation-name: social;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform:rotate(0);
    transition:all 300ms cubic-bezier(0.25, 0.1, 0, 2.47);
    
}

.social .nav i:after{
    content: '';
    position:absolute;
    left:-53%;
    bottom:-59%;
    padding:1em;
    background:#fefefe;   
    z-index:-1;
    border-radius:10rem;
    border:2px inset #0dcaf0;
    box-shadow: 0 0 20px #7777;
    
}

.social .nav i.fa-linkedin:after,
.social .nav i.fa-instagram:after {
    left:-69%;
}

.nav i.fa-facebook {
    color:#1877F2;
}
.nav i.fa-twitter {
    color:#1DA1F2;
}
.nav i.fa-linkedin {
    color:#0A66C2;
}
.nav i.fa-instagram {
    color:#E4405F;
}

@keyframes social {
    from {
        border-color:#198754;
        transform:rotate(0deg);
    }

    75% {
        border-color:#141619; 
        transform:rotate(50deg);
        
    }

    to {
        transform:rotate(100deg);
        border-color:#1877F2
        
    }
}
