
@import './fonts/fonts.css'; :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root {
    --blue: #084298;
    --black:linear-gradient(45deg, #f8f9fa,#fefefe, #fefefe, #fefefe, #f8f9fa);
    --yellow: #ffc107;
    --white: linear-gradient(45deg, #f8f9fa,#fefefe, #fefefe, #fefefe, #f8f9fa);
}
 
body {
    height:100vh;
    overflow:hidden;
    background:  linear-gradient(40deg, #051b3b, #03192f,#0a233b);
}
 

#root {
    padding: 10%;
    font-family: 'Nunito';
}

h4 {
    color: #333;
    text-shadow: #333;
}

h5 {
    color: #333
}

figure {
    position: relative;
}

body:after {
    content: "";
    position: absolute;
    top: 33%;
    width: 100%;
    height: 100%;
    padding: 10%;
    background:var(--black);
    border:10px solid var(--yellow);
    box-sizing:border-box;
    border-radius: 60em 60em 0em 0em;
    outline:1px solid #ffdc71;
    accent-color:blueviolet;
    z-index: -2;
    
}

img {
    padding: 2px;
    border-radius: 100rem;
    position: relative;
    margin:15px;
    z-index:1;
    background: var(--yellow);
    border:5px inset var(--yellow);
    object-fit: cover;
}



.nav a {      
    color: --blue;
    text-decoration: none;
}

.nav a div {
    padding: 5px 0;
}

.nav a i {
    font-size: 1.5rem;
    position:relative;
}

.nav a div i {
    font-size: 1.4rem;
    
}

.nav i:hover {
}

.social i {
    border: 3px dotted #d3d3fdbd;
    padding:10px;
    border-radius: 100rem;
    color:--blue;
}

.social .nav i:after, img:after {
    animation-name: social;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform:rotate(0);
    transition:all 300ms cubic-bezier(0.25, 0.1, 0, 2.47);
    
}

.social .nav i:after{
    content: '';
    position:absolute;
    left:-50%;
    bottom:-50%;
    padding:1em;
/*     background:#fefefe;    */
    z-index:-1;
    border-radius:10rem;
    border:2px solid --yellow; 
    
}

.social .nav i.fa-linkedin:after,
.social .nav i.fa-instagram:after {
    left:-69%;
}
/* 
.nav i.fa-facebook {
    color:#1877F2;
}
.nav i.fa-twitter {
    color:#1DA1F2;
}
.nav i.fa-linkedin {
    color:#0A66C2;
}
.nav i.fa-instagram {
    color:#E4405F;
} */

@keyframes social {
    from {
/*         border-color:#198754; */
        transform:rotate(0deg);
    }

    75% {
/*         border-color:#141619;  */
        transform:rotate(50deg);
        
    }

    to {
        transform:rotate(100deg);
/*         border-color:#1877F2 */
        
    }
}
